# Python
__pycache__/
*.pyc
*.pkl

# Virtual environment
venv/
env/

# Dataset files (important for ML projects)
*.csv

# Node (if frontend exists)
node_modules/

# Environment variables
.env

# OS files
.DS_Store
